<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">
<div class="container" fxLayout="column">

  <mat-toolbar fxLayoutAlign="start center" fxLayoutGap=20px class="abc" fxLayout="row" style="background-color: white">
    <div fxFlex=80 fxLayoutAlign="start center" fxLayoutGap=20px>
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="imag" src='/src/app/images/abc.png'>
      <span class='style'>Fundoo-Notes</span>
      <mat-form-field appearance="outline" class="searc" fxHide.xs="true">
        <mat-icon class="lab" matPrefix>search</mat-icon>
        <mat-icon matSuffix>close</mat-icon>
        <input [(ngModel)]='FilterText' (click)=displaySearch() (keyup)="onKeyUp($event)" matInput placeholder="Search">
      </mat-form-field>
    </div>
    <div fxFlex=20 fxLayoutAlign="start center">
      <div *ngIf="show">
        <button matTooltip="list view" mat-icon-button (click)="toggle()">
          <mat-icon class="material-icons-outlined icon-spacer">view_agenda</mat-icon>
        </button>
      </div>
      <div *ngIf="!show">
        <button matTooltip="grid view" mat-icon-button (click)="toggle()">

          <mat-icon class="material-icons-outlined icon-spacer">border_all</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button (click)="displaycart()">
          <mat-icon class="material-icons-outlined icon-spacer">shopping_cart</mat-icon>
        </button>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="belowMenu">
          <img mat-card-avatar [src]="url" class="avatar-img" height="20px" width="20px">
        </button> </div>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div>

    <div>
      <mat-drawer-container class="sidebar-container" autosize>
        <mat-drawer #drawer (openedChange)="onOpenedChange($event)"  class="example-sidenav" mode="side" fxHide.xs="true" fxShow="true">
          <mat-nav-list>

            <mat-list-item [routerLinkActive]="['active']" routerLink='/display-notes'>
              <mat-icon class="material-icons-outlined icon-spacer">emoji_objects</mat-icon> <span class="labelname">
                Notes</span>
            </mat-list-item>

            <mat-list-item [routerLinkActive]="['active']" routerLink='/Reminders'>
              <mat-icon class="material-icons-outlined icon-spacer">notifications_none</mat-icon> <span
                class="labelname"> Reminders</span>
            </mat-list-item>


            <mat-divider></mat-divider>
            <h3 mat-subheader>Labels</h3>

            <mat-list-item (click)=openDialoglab()>

              <mat-icon class="material-icons-outlined icon-spacer">create</mat-icon> <span
                class="labelname">Edit-Labels</span>
            </mat-list-item>


            <div >
              <div *ngFor="let label of labels " style="padding-left: 15px" fxLayout="row" routerLinkActive="cd" routerLink="/label/{{label.label}}"  (click)=goToLabelData(label.label)>
                <div style="padding-top: 15px">
                  <i class="material-icons-outlined icon-spacer">label</i>

                </div>
                <div class="not"> {{label.label}}</div>
              </div>
            </div>


            <mat-divider></mat-divider>


            <mat-list-item [routerLinkActive]="['active']" routerLink='/archive'>
              <mat-icon class="material-icons-outlined icon-spacer">archive</mat-icon> <span
                class="labelname">Archive</span>
            </mat-list-item>
            <mat-list-item [routerLinkActive]="['active']" routerLink='/trash'>
              <mat-icon class="material-icons-outlined icon-spacer">delete</mat-icon> <span
                class="labelname">Trash</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-drawer>
      </mat-drawer-container>
    </div>

    <!-- <div [ngClass]="(!drawerVal)?'drawerClose':'drawerOpen'" fxFlex.xs=100 fxFlex.sm=100>
      <router-outlet></router-outlet>
    </div> -->
    <div *ngIf="!drawerVal" fxFlex=100 class="drawerClose" fxFlex.xs=100 fxFlex.sm=100>
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="drawerVal" fxFlex=80 class="drawerOpen" fxFlex.xs=100 fxFlex.sm=100>
      <router-outlet></router-outlet>
    </div>
  </div>







  <ng4-loading-spinner [threshold]="0" [timeout]="500" [loadingText]="'Please wait...'"> </ng4-loading-spinner>

  <mat-menu #belowMenu="matMenu" [overlapTrigger]="false">
    <div class='ProfileInfo' fxLayout="column">
      <div fxFlex=90 fxLayout="row">
        <div fxFlex=40 fxLayoutAlign="center center">
          <mat-icon (click)="openDialog()"></mat-icon>

          <img mat-card-avatar [src]="url">

        </div>
        <div fxFlex=60>
          <p>{{firstName+' '+lastName}}</p>
          <p>{{email}}</p>
        </div>
      </div>
      <div fxFlex=10 fxLayout="row">
        <div fxFlex=50>
          <button mat-menu-item routerLink="/login"> Add Account</button>
        </div>
        <div fxFlex=50>
          <button mat-menu-item *ngIf="auth.isLoggednIn()" (click)="auth.logout()">Logout</button>
        </div>
      </div>
    </div>
  </mat-menu>