<!-- <div class="main">
<mat-accordion>
  <mat-expansion-panel class="container">
    <mat-expansion-panel-header>
      <div style="width: 100%">
        <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="25" placeholder="Title" class="fielda"></textarea>
      </div>
    </mat-expansion-panel-header>
    <div style="width: 100%">
        <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="25" placeholder="Title" class="fielda"></textarea>
      </div>
   
  </mat-expansion-panel>
</mat-accordion>
</div> -->
<div *ngIf="show" class="center" fxLayoutAlign="center start">
  <mat-card fxFlex="50" fxFlex.sm=100 fxFlex.xs=100 class="card" fxLayoutAlign="start start">
    <textarea (click)="toggle()" matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1" cdkAutosizeMaxRows="25" placeholder="Take a note" class="fielda"></textarea>

  </mat-card>
</div>







<div *ngIf="!show" class="center" fxLayoutAlign="center start">

  <mat-card class="card" [ngStyle]="{background : colour}" fxLayout="column" fxFlex="50" fxFlex.sm=100 fxFlex.xs=100
    fxLayoutAlign="start start">
    <div fxLayout="row" class="no">
      <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="25" [(ngModel)]="titleM" placeholder="Title " class="fielda"
        [formControl]="title"></textarea>
    </div>

    <div class="no">
      <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="25" [(ngModel)]="descriptionM" placeholder="Take a note" class="fielda"
        [formControl]="description"></textarea>
    </div>
    <!-- <div *ngFor="let noteRem of ReminderNote"> -->
    <mat-chip-list>
      <mat-chip class="matChip">
        {{ReminderNote |  date:'short'}}

      </mat-chip>
      <span></span>
    </mat-chip-list>
    <div *ngFor="let collab of collaberators" fxLayout="row">
      <mat-chip-list >
        <mat-chip class="matChip" >
          {{collab.email}}

        </mat-chip>
        <span></span>
      </mat-chip-list>
    </div>
    <!-- </div> -->
    <div fxFlex="20" fxLayout="row " style="width: 100%">
      <div fxFlex=80>
        <!-- <app-icon   [mess]="isArchived"></app-icon> -->
        <app-icon-tray [show]='TypeIcon'> </app-icon-tray>
      </div>
      <div fxFlex=20>
        <button mat-button (click)="receive()">Close</button>
      </div>
    </div>

  </mat-card>

</div>