
  .container
  {
    color: black;
    height: 100%;
    width: 100%;
    
  }
  .card{
   height:70%;
    color: black;
    
  }
  .imag
  {
      width:60%;
      height: 100%;
  }
  .title{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 40px;
    color:midnightblue;
  }
  .formfield{
     
    width:70%;
  }
  .butto
  { font-size: 20px;
     padding-top:40px;  
     color: blue
  }