<div class="container" fxLayoutAlign="center center" fxLayout.xs="column">
    <mat-card class="card" fxLayout="column" fxFlex="50">
        <div class="container" fxFlex="30" fxLayoutAlign="center center">
            <img class="imag" mat-card-image src="/src//app//images/goog.jpg">
        </div>
        <div class="container" fxFlex="10" fxLayoutAlign="center start">
            <mat-card-header fxLayoutGap="5px">
                <mat-card-title class="title">Login</mat-card-title>
            </mat-card-header>
        </div>
        <div fxLayoutAlign="center start" fxFlex="20">
            <mat-form-field class="formfield" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid"> {{getEmailInvalidMessage()}}</mat-error>
            </mat-form-field>

        </div>
        <div fxLayoutAlign="center start" fxFlex="10">
            <mat-form-field class="formfield" appearance="outline" class="formfield">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [formControl]="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center start" fxFlex="10">
            
            <button  class="butto" mat-button (click)="onLogin()" > Login!</button>
            <button routerLink="/SelectReg" mat-button class="butto"> Register!</button>
            <button routerLink="/forget" mat-button class="butto"> Forgot Password!</button>
        </div>
    </mat-card>
</div>
<ng4-loading-spinner  [threshold]="0"   > </ng4-loading-spinner>