<div class="container" fxLayout="column" fxLayoutGap="10px">

  <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="25"class="text"  placeholder="Title" [formControl]="title" value="{{data.title}}"></textarea>

    <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="25" class="text" placeholder="Take a Note" [formControl]="description" value="{{data.description}}"></textarea>
    <div fxLayout="row"> 
    <app-icon  [mess]="isArchived"  [card]=data></app-icon>
    <button mat-button (click)=" updateNote()">Close</button>
  </div>


</div>