mat-toolbar{
    background-color: #FFBA33;
    }
    
    ::ng-deep .mat-dialog-container {
    padding: 0px;
    border-radius: 5px;
    }
    
    .mat-raised-button {
    background-color: #0C65D0;
    color: #FFF;
    }
    
    .spacer {
    flex: 1 1 auto;
    }