<button *ngIf="MatMenuu=='takenote'" mat-icon-button [matMenuTriggerFor]="menu_takeNotes" title="More">
    <mat-icon>more_vert</mat-icon>
  </button>

<button *ngIf="MatMenuu=='notess'" mat-icon-button [matMenuTriggerFor]="menu_notes" title="More">
  <mat-icon>more_vert</mat-icon>
</button>

<button *ngIf="MatMenuu=='archive'" mat-icon-button [matMenuTriggerFor]="menu_archive" title="More">
    <mat-icon>more_vert</mat-icon>
  </button>

  <button *ngIf="MatMenuu=='deletee'" mat-icon-button [matMenuTriggerFor]="menu_delet" title="More">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu #menu_delet="matMenu" [overlapTrigger]="false">
        
        <button mat-menu-item (click)= deleteNotesForever(CardId)>Delete Forever</button>
        <button mat-menu-item (click) =RestoreNotes(CardId)>Restore</button>
      </mat-menu>
      <mat-menu #menu_takeNotes="matMenu" [overlapTrigger]="false">
        
          <button mat-menu-item >Add Label</button>
          <button mat-menu-item >Add Drawing</button>
          <button mat-menu-item >Show Tick Boxes</button>
        </mat-menu>


<mat-menu #menu_notes="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)=trashNote(CardId) >Delete Note</button>
  <button  mat-menu-item [matMenuTriggerFor]="menu_labels">Add Label</button>
  <button *ngIf="quesAnsView=='0'" mat-menu-item (click)= NavigateToQuesAns(CardId)>Ask a question</button>
  <button  *ngIf="quesAnsView!='0'" mat-menu-item (click)= NavigateToQuesAns(CardId)>Show question</button>
  <button mat-menu-item>show checkBoxes</button>
  
</mat-menu>

<mat-menu #menu_archive="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)=trashNote(CardId) >Delete Note</button>
    <button mat-menu-item>Add Label</button>
    <button mat-menu-item (click)= GetNoteDetails()>Ask a question</button>
    <button mat-menu-item>Make a copy</button>
    <button mat-menu-item>Show tick boxes</button>
    <button mat-menu-item>Copy to Google Docs</button>
  </mat-menu>

  <mat-menu #menu_labels>
      <p>Label Note</p>
      <mat-selection-list>
        <mat-list-option *ngFor="let label of labels" (click)="onOpenAddLabel(label)">
            {{label.label}}
        </mat-list-option>
    </mat-selection-list>
    
    </mat-menu>