<div fxLayout="column" fxLayoutGap="10px">
  <div>
    Edit Labels
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div>
      <mat-icon matPrefix matToolTip="Cancel">clear</mat-icon>
    </div>
    <div>
      <textarea class="fon" matInput type="text" placeholder="Create Label" [formControl]="labelName"></textarea>
    </div>
    <div fxLayoutAlign="end end">
      <button mat-button matToolTip="Create Label" (click)="addLabel()">
        <mat-icon matSuffix>done</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" *ngFor="let label of labels">
    <div fxFlex=30>
      <button mat-button (click)="deleteLabel(label)">
        <mat-icon matPrefix matToolTip="Delete label">delete</mat-icon>
      </button>
    </div>
    <div fxFlex=40>

      <input matInput type="text" [formControl]="updateLabel" value="{{label.label}}">
    </div>
    <div fxFlex=30 fxLayoutAlign="end end">
      <button mat-button (click)="onUpdateNoteLabel(label)">
        <mat-icon matSuffix>create</mat-icon>
      </button>
    </div>
  </div>
  <!-- <div fxFlex=40>
      <p style="word-break: break-all">{{label.label}}</p>
    </div>
    <div fxFlex=30 fxLayoutAlign="end end">
        <div>
            <textarea class="fon" matInput type="text"  [formControl]=" updateLabel"></textarea>
          </div>
      <button mat-button (click)="UpdateLabel(label)">
        <mat-icon matSuffix>create</mat-icon>
      </button>
    </div> -->



  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button (click)="done()">Done</button>
  </div>
</div>