<!-- <div fxLayout="column">
  <div fxLayoutAlign="start start" fxFlex=10>
    <p>Edit Labels</p>
  </div>
  <div fxFlex=60>

    <textarea  matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1" cdkAutosizeMaxRows="25" placeholder="Create New Label"></textarea>
  </div>
</div> -->
<div fxLayout="column" fxLayoutGap="10px">
  <div>
    Edit Labels
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div>
      <mat-icon matPrefix matToolTip="Cancel">clear</mat-icon>
    </div>
    <div>
      <textarea class= "fon"  matInput type="text" placeholder="Create Label" [formControl]="labelName"></textarea>
      <!-- <input matInput placeholder="create a new label" [formControl]="labelName"> -->
    </div>
    <div fxLayoutAlign="end end">
      <button mat-button matToolTip="Create Label" (click)="addLabel()">
        <mat-icon matSuffix>done</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" *ngFor="let label of labels">
    <div fxFlex=30>
      <button mat-button (click)="deleteLabel(label)">
        <mat-icon matPrefix matToolTip="Delete label">delete</mat-icon>
      </button>
    </div>
    <div fxFlex=40>
     
      <p>{{label.label}}</p>
    </div>
    <div fxFlex=30 fxLayoutAlign="end end">
      <mat-icon matSuffix>create</mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button (click)="done()">Done</button>
  </div>
</div>