<div fxLayout='column' fxLayoutAlign="start start" style="width: 100%">
  <div fxFlex=10 style="width: 100%">
    <p>Select Profile Photo</p>
  </div>

  <div fxFlex=10 style="width: 100%">
    <p>Upload Photos</p>

  </div>

  <div fxFlex=70 style="width: 100%">
   
    <input type="file" (change)="fileChangeEvent($event)" />

    <image-cropper [imageChangedEvent]="imageChangedEvent" 
  
      (imageCropped)="imageCropped($event)"
      ></image-cropper>
     
    
  </div>
  <div fxLayout='row' fxFlex=10 style="width: 100%">
    <div fxFlex=20>
      <button (click)='changedp()'>Set as Profile Picture</button>
    </div>
    <div fxFlex=10>
      <button>Cancel</button>
    </div>


