.container
{
    width: 100%;
    display:flex;
 
    .matChip
    {
      background-color: grey;
      border-radius: 10px;
    }
    .mat-icon
    {
      font-size: 15px;
    }
}
.hide{
  opacity: 0;
}
.hide:hover{
  opacity: 1;
}
.card
    {
      margin-top: 1.5%;
  border-radius: 10px;

    }
    .no
    {
      width:100%;
      padding-bottom: 5px;
          }
    .mat-card
    {
      margin-right: 0px;
      transform: scaleX(0.95) scaleY(0.95);
    }