<div class="container" fxLayout="row wrap" fxLayoutGap=15px   >
  <mat-card fxFlex="30" fxFlex.sm=40 fxFlex.xs=80   *ngFor="let note of notes" class="card" fxLayout="column" [ngStyle]="{background:note.color}"(click)=getNotesId(notes) fxLayoutAlign="start start">
    <div (click)="openDialog(note)"  class="no" >

        <p style="word-break: break-all">{{note.title}}</p>
    </div>

    <div (click)="openDialog(note)" class="no">
        <p style="word-break: break-all" >{{note.description}}</p>
    </div>

    
    <div  fxLayoutAlign="start start" style="width: 100%">
      <!-- <app-icon (messageEvent)="receiveMessage($event)" >[card]={{notes}}</app-icon> -->
      <app-icon (messageEvent)="receiveMessage($event)" [mess]="isArchived"  [card]=note ></app-icon>
      <!-- <app-icon></app-icon> -->
    </div>
  </mat-card>

</div>