/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.myClass {
    mat-dialog-container {
        width: 950px;
    height:550px;
    padding-top: 0%;
    padding-bottom:0%; 
    }
}
.LabelClass{
    mat-dialog-container {
      min-width: 300px;
      min-height: 200px;
    
    // padding-top: 0%;
    // padding-bottom:0%; 
    }

}
