<div *ngIf="questionAnsLength== 0">
  <div *ngFor="let ques of notedetails ">
    <div>
      <p> {{ques.title}}</p>
      <p> {{ques.description}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <h3>Ask a Question</h3>
      <div [froalaEditor] [(froalaModel)]="QuesValue"></div>
    </div>
    <div fxLayoutAlign="end end">
      <button mat-button (click)=AddQues(ques.id)>Submit</button>
    </div>
  </div>
</div>



<div *ngIf="questionAnsLength>= 1">
  <div *ngFor="let ques of notedetails">
    <div>
      <p> {{ques.title}}</p>
      <p> {{ques.description}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <h3>Question Asked</h3>
      <div *ngIf="ques.questionAndAnswerNotes[0]" innerHTML="{{ques.questionAndAnswerNotes[0].message}}"></div>
      <mat-divider></mat-divider>
    </div>
    <div class='center' fxLayout='row' fxLayoutGap=20px>
      <div>
        <img mat-card-avatar [src]="url">
      </div>
      <div fxLayout='column'>
        <div fxLayout='row' fxLayoutGap=7px>
          <div>
            {{ques.questionAndAnswerNotes[0].user.firstName+' '+ques.questionAndAnswerNotes[0].user.lastName}}
          </div>
          <div>
            {{ today | date:'medium' }}
          </div>
          <div>
            <button matTooltip="reply" mat-icon-button (click)=replyQues(ques.questionAndAnswerNotes[0].id)>
              <mat-icon>reply</mat-icon>
            </button>
          </div>
          <div>
            <app-like [LikeMessage]="ques.questionAndAnswerNotes[0]"></app-like>
          </div>
          <div *ngIf="CheckRating(ques.questionAndAnswerNotes[0].rate)">
            <bar-rating matTooltip="Rate" [(rate)]="rate" [max]="5"
              (rateChange)="rating(ques.questionAndAnswerNotes[0].id,$event)"></bar-rating>
          </div>

        </div>
        <div *ngIf="ques.questionAndAnswerNotes[0]" class='hometown'
          innerHTML="{{ques.questionAndAnswerNotes[0].message}}"></div>
        <div *ngIf="replyShow == ques.questionAndAnswerNotes[0].id &&  showReply== true">
          <div [froalaEditor] [(froalaModel)]="AnsValue" id="froala-editor"></div>
          <button mat-button (click)=QuestionReply(ques.questionAndAnswerNotes[0].id)>Reply </button>
        </div>
      </div>
    </div>







    <div class="container">
      <div *ngFor="let qa of ques.questionAndAnswerNotes " class='center'>
        <div *ngIf="qa.isApproved==true && qa.parentId " fxLayout='row' fxLayoutGap=20px>
          <div>
            <img mat-card-avatar [src]="url">
          </div>
          <div fxLayout='column'>
            <div fxLayout='row' fxLayoutGap=7px fxLayoutAlign="start start">
              <div>
                {{qa.user.firstName+' '+qa.user.lastName}}
              </div>
              <div>
                {{ today | date:'medium' }}
              </div>
              <div fxLayout='row' fxLayoutAlign="start start">
                <div>
                  <button matTooltip="reply" mat-icon-button (click)=replyQues(qa.id)>
                    <mat-icon>reply</mat-icon>
                  </button>
                </div>
                
                  <div>
                    <app-like [LikeMessage]="qa"></app-like>
                  </div>
              
                <div *ngIf="CheckRating(qa.rate)">
                  <bar-rating matTooltip="Rate" [(rate)]="rate" [max]="5" (rateChange)="rating(qa.id,$event)">
                  </bar-rating>
                </div>
              </div>
            </div>
            <div *ngIf="qa" class='hometown' innerHTML="{{qa.message}}"></div>
            <div *ngIf="replyShow == qa.id &&  showReply== true">
              <div [froalaEditor] [(froalaModel)]="AnsValue" id="froala-editor"></div>
              <button mat-button (click)=QuestionReply(qa.id)>Reply </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>




<!-- <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>  -->