<div *ngIf="questionAnsLength=='0'">
  <div *ngFor="let ques of notedetails ">
    <div>
      <p> {{ques.title}}</p>
      <p> {{ques.description}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <h3>Ask a Question</h3>
      <div [froalaEditor] [(froalaModel)]="QuesValue"></div>
    </div>
    <div fxLayoutAlign="end end">
      <button mat-button (click)=AddQues(ques.id)>Submit</button>
    </div>
  </div>
</div>



<div *ngIf="questionAnsLength>='1'">
  <div *ngFor="let ques of notedetails ">
    <div>
      <p> {{ques.title}}</p>
      <p> {{ques.description}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <h3>Question Asked</h3>
      <div *ngIf="ques.questionAndAnswerNotes[0]" innerHTML="{{ques.questionAndAnswerNotes[0].message}}"></div>
      <mat-divider></mat-divider>
    </div>
  
    <div *ngFor="let qa of ques.questionAndAnswerNotes " class='center' fxLayout='row' fxLayoutGap=20px>
      <div>
        <img mat-card-avatar [src]="url">
      </div>
      <div fxLayout='column'>
        <div fxLayout='row' fxLayoutGap=7px>
          <div>
            {{qa.user.firstName+' '+qa.user.lastName}}
          </div>
          <div>
            {{ today | date:'medium' }}
          </div>
          <div>
            <button matTooltip="reply" mat-icon-button (click)=toggleReply()>
              <mat-icon>reply</mat-icon>
            </button>
          </div>
          <div>
            <button mat-icon-button>
              <mat-icon>thumb_up_alt</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="qa" class='hometown'
          innerHTML="{{qa.message}}"></div>
        <div *ngIf='showReply'>
          <div [froalaEditor] [(froalaModel)]="AnsValue" id="froala-editor"></div>
          <button mat-button (click)=QuestionReply(qa.id)>Reply </button>
        </div>
      </div>
    </div>
  </div>
  
</div>